doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 community enhancement portal for disaster managment 
    nav
      ul
      a(href="/") Home | 
      a(href="/services") Service | 
      a(href="/contact") Contact
    block content
  footer 
    p 23EG106A56-SHRI KRISHNA KULKARNI
